:root {
  --text-font: "Roboto", sans-serif;
  --title-font: "Raleway", sans-serif;
  --main-color: #757575;
  --main-white-color: #ffffff;
  --title-text-color: #212121;
  --logo-black-color: #000000;
  --accent-color: #2196f3;
  --background-white-color: #f5f4fa;
  --background-black-color: #2f303a;
  --background-transparent-color: rgba(255, 255, 255, 0.6);
  --logo-clients-color: #afb1b8;
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

body {
  font-family: var(--text-font);
  color: var(--main-color);
  background-color: var(--main-white-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

textarea {
  resize: none;
}

.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.header .container {
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 1200px) {
  .bottom-container {
    display: flex;
    align-items: baseline;
  }
}

.logo {
  display: inline-block;
  font-family: var(--title-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--accent-color);
}

.logo-header-studio {
  color: var(--logo-black-color);
}

.logo-footer-studio {
  color: var(--main-white-color);
}

.button {
  display: block;
  margin: 0 auto;
  min-width: 200px;
  padding: 10px 32px;
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--main-white-color);
  background-color: var(--accent-color);
  transition: transform 250ms var(--cubic);
}

.submit-button {
  padding: 10px 28px 10px 29px;
  width: 200px;
  height: 50px;
}

.title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.172;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

@media screen and (min-width: 1200px) {
  .title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.167;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  visibility: visible;
  transition: opacity 250ms var(--cubic), visibility 250ms var(--cubic);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden.modal {
  transform: translate(-50%, -50%);
}

.modal {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background-color: var(--main-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms var(--cubic);
}

.close-icon {
  width: 18px;
  height: 18px;
}

.modal-close-button:hover .close-icon {
  fill: var(--accent-color);
  transition: fill 250ms var(--cubic);
}

.modal-close-button {
  position: absolute;
  right: 8px;
  top: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  cursor: pointer;
  outline: none;
}

.modal-form {
  display: flex;
  flex-direction: column;
  padding: 40px 40px;
}

.form-title {
  margin-bottom: 12px;
  font-weight: 700px;
  font-size: 20px;
  line-height: 1.172;
  color: var(--title-text-color);
}

.form-label {
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.171;
}

.form-icon {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translate(50%, -10%);
}

.form-input {
  display: block;
  padding-left: 42px;
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus {
  outline: none;
  border-color: var(--accent-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus + .form-icon {
  fill: var(--accent-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea {
  width: 448px;
  height: 120px;
  padding: 12px 16px;
}

.form-group {
  position: relative;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.checkbox-wrapper {
  margin-top: 10px;
  margin-bottom: 30px;
}

.agreement-link {
  color: var(--accent-color);
  display: inline-block;
  cursor: pointer;
}

.checkbox-label {
  display: flex;
  align-items: center;
  padding-left: 8.38px;
  cursor: pointer;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-color);
}

.form-label .checkbox-label::before {
  content: "";
  width: 16px;
  height: 15px;
  border: 2px solid var(--title-text-color);
  border-radius: 1px;
  cursor: pointer;
  margin-right: 8.38px;
  background-image: url("../images/checkbox.svg");
  background-position: 50% 50%;
  transition: background-image 250ms var(--cubic);
}

.checkbox:focus + .checkbox-label::before {
  width: 16px;
  height: 15px;
  border: 2px solid var(--accent-color);
  border-radius: 1px;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic);
}

.checkbox:checked + .checkbox-label::before {
  background-image: url("../images/checkmark.svg");
  background-color: var(--accent-color);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-origin: border-box;
  border: transparent;
  transition: background-image 250ms var(--cubic);
}

.form-button {
  align-self: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.form-button:hover, .form-button:focus {
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  transition: background-color 250ms var(--cubic), box-shadow 250ms var(--cubic);
}

.header {
  border-bottom: 1px solid #eeeeee;
}

.site-navigation {
  display: flex;
  align-items: center;
}

.site-navigation-list {
  display: flex;
  margin-left: 93px;
}

.site-navigation-item:not(:last-child) {
  margin-right: 50px;
}

.site-navigation-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  text-decoration: none;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic);
}

.site-navigation-link:hover, .site-navigation-link:focus {
  color: var(--accent-color);
}

.site-navigation-link.current {
  position: relative;
  color: var(--accent-color);
}

.site-navigation-link.current::after {
  content: "";
  display: block;
  position: absolute;
  top: 76px;
  left: 0;
  width: 100%;
  height: 4px;
  color: var(--accent-color);
  background-color: var(--accent-color);
  border: 1px solid;
  border-radius: 2px;
}

.contact-information-list {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.contact-information-item + .contact-information-item {
  margin-left: 50px;
}

.contact-link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: var(--main-color);
  fill: currentColor;
  text-decoration: none;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic);
}

.contact-link:hover, .contact-link:focus {
  color: var(--accent-color);
}

.link-icon {
  margin: 0 10px 0 0;
}

.hero {
  max-width: 480px;
  height: 400px;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/mobile/hero/hero-mobile.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto;
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 320px), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/mobile/hero/hero-mobile@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
    height: 400px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/tablet/hero/hero-tablet.jpg);
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/tablet/hero/hero-tablet@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/desktop/hero/hero-desktop.jpg);
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/desktop/hero/hero-desktop@2x.jpg);
  }
}

.hero-title {
  margin-bottom: 30px;
  margin-right: auto;
  margin-left: auto;
  min-width: 320px;
  text-align: center;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.615;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-white-color);
}

@media screen and (min-width: 1200px) {
  .hero-title {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.363;
  }
}

.advantages {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .advantages {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

@media screen and (max-width: 767px) {
  .advantages-list:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .advantages-list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (min-width: 1200px) {
  .advantages-list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (min-width: 768px) {
  .advantages-list-item {
    flex-basis: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .advantages-list-item {
    flex-basis: calc((100% - 8 * 15px) / 4);
    margin: 15px;
  }
}

.advantages-list-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  padding: 0;
  border: none;
  width: 100%;
  height: 120px;
  border-radius: 4px;
  background-color: var(--background-white-color);
}

.advantages-icon {
  display: flex;
  background-repeat: no-repeat;
  background-position: center;
}

.advantages-title {
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
}

@media screen and (min-width: 768px) {
  .advantages-title {
    text-align: left;
  }
}

.advantages-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  margin-top: 10px;
  margin-bottom: 0;
}

@media screen and (max-width: 1199px) {
  .services-gallery {
    display: none;
  }
}

.services-gallery {
  padding-bottom: 94px;
}

.services-gallery-list {
  display: flex;
  justify-content: space-between;
}

.services-gallery-item {
  position: relative;
}

.image-description {
  position: absolute;
  margin: 0;
  padding-top: 22px;
  padding-bottom: 22px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.172;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.03em;
  width: 100%;
  background-color: rgba(47, 48, 58, 0.8);
  color: var(--main-white-color);
  bottom: 0;
  left: 0;
}

.team {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--background-white-color);
}

@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team .title {
  margin-bottom: 50px;
}

@media screen and (min-width: 768px) {
  .team-list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (min-width: 1200px) {
  .team-list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.team-list-item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (max-width: 767px) {
  .team-list-item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .team-list-item {
    margin: 15px;
    width: calc((100% - 15px * 4) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .team-list-item {
    margin: 15px;
    width: calc((100% - 15px * 8) / 4);
  }
}

.team-card {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: var(--main-white-color);
}

.team-list-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.187;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.description {
  margin: 10px 0 16px 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.187;
  text-align: center;
  letter-spacing: 0.03em;
}

.social-media-navigation {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-media-item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}

.social-media-item:last-child {
  margin-right: 0;
}

.social-media-link {
  display: block;
  text-decoration: none;
  padding: 12px;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  color: var(--logo-clients-color);
  fill: currentColor;
  cursor: pointer;
  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic);
}

.social-media-link:hover, .social-media-link:focus {
  color: var(--main-white-color);
  background-color: var(--accent-color);
}

.bottom-link {
  color: var(--main-white-color);
  fill: currentColor;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}

.our-clients {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .our-clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.our-clients-list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

@media screen and (min-width: 768px) {
  .our-clients-list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (min-width: 1200px) {
  .our-clients-list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.our-clients-item {
  flex-basis: calc((100% - 2 * 30px) / 2);
  height: 90px;
  margin: 15px;
}

@media screen and (min-width: 768px) {
  .our-clients-item {
    flex-basis: calc((100% - 3 * 30px) / 3);
    height: 90px;
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .our-clients-item {
    flex-basis: calc((100% - 6 * 30px) / 6);
    height: 90px;
    margin: 15px;
  }
}

.our-clients-link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  height: 100%;
  width: 100%;
  border: 1px solid;
  border-radius: 4px;
  color: var(--logo-clients-color);
  fill: currentColor;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic);
}

.our-clients-link:hover, .our-clients-link:focus {
  color: var(--accent-color);
}

.footer {
  background-color: var(--background-black-color);
  padding-top: 60px;
  padding-bottom: 60px;
  border: none;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-wrapper {
    justify-content: space-between;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .footer-wrapper {
    max-width: 610px;
    display: flex;
    align-items: baseline;
  }
}

@media screen and (min-width: 1200px) {
  .footer-wrapper {
    margin-right: 93px;
  }
}

.address-container {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1199px) {
  .address-container {
    align-items: center;
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .address-container {
    margin-right: 70px;
  }
}

.address {
  margin-top: 20px;
  margin-bottom: 8px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--main-white-color);
}

.address-link {
  text-decoration: none;
  font-size: 14px;
  line-height: 1.714;
  color: var(--background-transparent-color);
}

.address-list-item:nth-child(2n + 1) {
  margin-bottom: 9px;
}

@media screen and (max-width: 767px) {
  .social-media-container {
    margin-bottom: 60px;
  }
}

.bring-attention {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-white-color);
}

@media screen and (max-width: 1199px) {
  .bring-attention {
    text-align: center;
    display: flex;
    justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .bring-attention {
    margin-bottom: 0;
  }
}

.footer-links {
  margin-top: 20px;
}

@media screen and (max-width: 1199px) {
  .form-button-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media scren and (max-width: 1199px) {
  .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.footer-input {
  margin: 0;
  padding: 15px 16px;
  font: inherit;
  width: 80vw;
  max-width: 450px;
  height: 50px;
  color: rgba(255, 255, 255, 0.6);
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background: transparent;
}

@media screen and (max-width: 1199px) {
  .footer-input {
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1200px) {
  .footer-input {
    margin-top: 20px;
    margin-right: 12px;
    width: 358px;
  }
}

@media screen and (max-width: 1199px) {
  .input-wrapper {
    display: flex;
  }
}

@media screen and (min-width: 1200px) {
  .input-button-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
  }
}
/*# sourceMappingURL=main.css.map */