:root {
  --text-font: "Roboto", sans-serif;
  --title-font: "Raleway", sans-serif;
  --main-color: #757575;
  --main-white-color: #ffffff;
  --title-text-color: #212121;
  --logo-black-color: #000000;
  --accent-color: #2196f3;
  --background-white-color: #f5f4fa;
  --background-black-color: #2f303a;
  --background-transparent-color: rgba(255, 255, 255, 0.6);
  --logo-clients-color: #afb1b8;
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: var(--text-font);
  color: var(--main-color);
  background-color: var(--main-white-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

.header {
  border-bottom: 1px solid #eeeeee;
}

.header .container {
  display: flex;
  justify-content: center;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

/*============HEADER=============*/

.logo {
  font-family: var(--title-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--accent-color);
}

.logo-header-studio {
  color: var(--logo-black-color);
}

.site-navigation {
  display: flex;
  align-items: center;
}

.site-navigation-list {
  display: flex;
  margin-left: 93px;
}

.site-navigation-item:not(:last-child) {
  margin-right: 50px;
}

.site-navigation-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  text-decoration: none;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic);
}

.site-navigation-link:hover,
.site-navigation-link:focus {
  color: var(--accent-color);
}
.site-navigation-link.current {
  position: relative;
  color: var(--accent-color);
}

.site-navigation-link.current::after {
  content: "";
  display: block;
  position: absolute;
  top: 76px;
  left: 0;
  width: 100%;
  height: 4px;
  color: var(--accent-color);
  background-color: var(--accent-color);
  border: 1px solid;
  border-radius: 2px;
}

.contact-information-list {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.contact-information-item + .contact-information-item {
  margin-left: 50px;
}

.contact-link {
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: var(--main-color);
  fill: currentColor;
  text-decoration: none;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic);
}

.contact-link:hover,
.contact-link:focus {
  color: var(--accent-color);
}

.link-icon {
  margin: 0 10px 0 0;
}

/*==============END HEADER==========*/

/*===============HERO===========*/
.hero {
  max-width: 1600px;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-image.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  margin: 0 auto;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.364;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-white-color);
}
.hero-button {
  padding: 10px 32px;
  border-radius: 4px;
  border: none;
  outline: none;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--main-white-color);
  background-color: var(--accent-color);
}
/*==============END HERO==============*/

/*==============ADVANTAGES=============*/

.advantages {
  padding-top: 94px;
}

.advantages-list {
  display: flex;
  margin: 0px 0px;
}

.advantages-list-item {
  width: 270px;
}

.advantages-list-item:not(:last-child) {
  margin-right: 30px;
}

.advantages-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
}
.advantages-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  margin-top: 10px;
  margin-bottom: 0;
}

.advantages-list-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--background-white-color);
}

/*============END ADVANTAGES============*/

/*===========SERVICES GALLERY==========*/

.services-gallery {
  padding-top: 94px;
  padding-bottom: 94px;
}

.title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.services-gallery-list {
  display: flex;
  justify-content: space-between;
}

.services-gallery-item {
  position: relative;
}

.image-description {
  position: absolute;
  margin: 0;
  padding-top: 22px;
  padding-bottom: 22px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.172;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.03em;
  width: 100%;
  background-color: rgba(47, 48, 58, 0.8);
  color: var(--main-white-color);

  bottom: 0;
  left: 0;
}

/*========END SERVICE GALLERY========*/

/*===============TEAM=====================*/
.team {
  background-color: var(--background-white-color);
  padding-top: 94px;
  padding-bottom: 94px;
}

.team .title {
  margin-bottom: 50px;
}

.team-list {
  display: flex;
}

.team-list-item {
  width: 270px;
}

.team-list-item:not(:last-child) {
  margin-right: 30px;
}

.team-list-image {
  width: 270px;
}

.team-card {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 32px;
  padding-left: 32px;
  background-color: var(--main-white-color);
}

.team-card-wrapper {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-list-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.187;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.description {
  margin: 10px 0 16px 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.187;
  text-align: center;
  letter-spacing: 0.03em;
}

.social-media-navigation {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-media-item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}

.social-media-item:last-child {
  margin-right: 0;
}

.social-media-link {
  display: block;
  text-decoration: none;
  padding: 12px;
  width: 100%;
  height: 100%;
  border-radius: 50%;

  color: var(--logo-clients-color);
  fill: currentColor;
  cursor: pointer;

  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic);
}

.social-media-link:hover,
.social-media-link:focus {
  color: var(--main-white-color);
  background-color: var(--accent-color);
}

/*================END TEAM=================*/

/*===============OUR CLIENTS===============*/
.our-clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.our-clients-list {
  display: flex;
  justify-content: center;
}

.our-clients-item {
  margin-right: 30px;
  width: 170px;
  height: 90px;
}

.our-clients-item:last-child {
  margin-right: 0;
}

.our-clients-link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  height: 100%;
  width: 100%;
  border: 1px solid;
  border-radius: 4px;
  color: var(--logo-clients-color);
  fill: currentColor;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic);
}

.our-clients-link:hover,
.our-clients-link:focus {
  color: var(--accent-color);
}
/*=================OUR CLIENTS END==========*/
/*=================FOOTER==================*/
.footer {
  background-color: var(--background-black-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.logo-footer-studio {
  color: var(--main-white-color);
}

.address {
  margin-top: 20px;
  display: flex;
  flex-direction: column;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--main-white-color);
}

.address-map {
  margin-bottom: 9px;
  margin-top: 0;
}

.address-wrapper-item:nth-child(2n + 1) {
  margin-bottom: 9px;
}

.address-link {
  color: var(--background-transparent-color);
  text-decoration: none;
}

.footer-wrapper {
  margin-right: 70px;
}

.join {
  display: inline-block;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-white-color);
}

.bottom-container {
  display: flex;
  align-items: baseline;
}

.bottom-link {
  color: var(--main-white-color);
  fill: currentColor;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}

/*===============END FOOTER===========*/

/*===============PORTFOLIO================*/

.hidden {
  visibility: hidden;
  padding: 0px;
  font-size: 0px;
}

.button-navigation {
  padding-top: 94px;
  padding-bottom: 94px;
}

.button-navigation-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.button-navigation-item:not(:last-child) {
  margin-right: 8px;
}

.button {
  padding: 6px 22px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  background-color: var(--background-white-color);
  border-color: transparent;

  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic);
}

.button:hover,
.button:focus {
  color: var(--main-white-color);
  background-color: var(--accent-color);
}

.services-list {
  display: flex;
  flex-wrap: wrap;
}

.services-list-item {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
  position: relative;
}

.services-list-item:nth-child(3n) {
  margin-right: 0;
}

.services-list-item:nth-child(n + 7) {
  margin-bottom: 0;
}

.services-list-link {
  text-decoration: none;
  display: inline-block;
  width: 100%;
  height: 100%;
}

.services-list-link:hover {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.image-layer {
  position: relative;
  overflow: hidden;
}

.image-layer-description {
  position: absolute;
  margin: 0;

  font-weight: normal;
  font-size: 18px;
  line-height: 1.555;
  color: var(--main-white-color);
  background-color: rgba(33, 150, 243, 0.9);
  width: 100%;
  height: 100%;
  padding: 63px 24px;

  top: 0;
  left: 0;
  opacity: 0;
  transform: translateY(100%);
  transition: transform 250ms var(--cubic), opacity 250ms var(--cubic);
}

.services-list-link:hover .image-layer-description {
  opacity: 1;
  transform: translateY(0%);
}

.services-card {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  box-shadow: inset 0 0 0 1px #eeeeee;
}

.services-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.999;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}
.services-description {
  margin: 4px 0 0 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--main-color);
}
