@media scren and (max-width: 1199px) {
  .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.footer-input {
  margin: 0;
  padding: 15px 16px;
  font: inherit;
  width: 80vw;
  max-width: 450px;
  height: 50px;
  color: rgba(255, 255, 255, 0.6);
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background: transparent;
}

@media screen and (max-width: 1199px) {
  .footer-input {
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1200px) {
  .footer-input {
    margin-top: 20px;
    margin-right: 12px;

    width: 358px;
  }
}

@media screen and (max-width: 1199px) {
  .input-wrapper {
    display: flex;
  }
}

@media screen and (min-width: 1200px) {
  .input-button-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
  }
}
