.footer {
  background-color: var(--background-black-color);
  padding-top: 60px;
  padding-bottom: 60px;
  border: none;
}

.address-container {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1199px) {
  .address-container {
    align-items: center;
    margin-bottom: 60px;
  }
}

.address {
  margin-top: 20px;
  margin-bottom: 8px;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--main-white-color);
}

.address-link {
  text-decoration: none;
  font-size: 14px;
  line-height: 1.714;
  color: var(--background-transparent-color);
}

.address-list-item {
  &:nth-child(2n + 1) {
    margin-bottom: 9px;
  }
}

@media screen and (max-width: 767px) {
  .social-media-container {
    margin-bottom: 60px;
  }
}

.bring-attention {
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-white-color);
}

@media screen and (max-width: 1199px) {
  .bring-attention {
    text-align: center;
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 1199px) {
  .form-button-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/*.address-map {
  margin-bottom: 9px;
  margin-top: 0;
}

.address-wrapper-item {
  &:nth-child(2n + 1) {
    margin-bottom: 9px;
  }
}

.address-link {
  color: var(--background-transparent-color);
  text-decoration: none;
}

.footer-wrapper {
  margin-right: 70px;
}

.bring-attention {
  display: inline-block;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-white-color);
}

.bottom-container {
  display: flex;
  align-items: baseline;
}*/
