.header {
  border-bottom: 1px solid #eeeeee;
}

.site-navigation {
  display: flex;
  align-items: center;
}

.site-navigation-list {
  display: none;
}

@media screen and (min-width: 768px) {
  .site-navigation-list {
    display: flex;
    margin-left: 88px;
    text-align: center;
    align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .site-navigation-list {
    margin-left: 93px;
  }
}

.site-navigation-item {
  &:not(:last-child) {
    margin-right: 50px;
  }
}

.site-navigation-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  text-decoration: none;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
  &.current {
    position: relative;
    color: var(--accent-color);

    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 76px;
      left: 0;
      width: 100%;
      height: 4px;
      color: var(--accent-color);
      background-color: var(--accent-color);
      border: 1px solid;
      border-radius: 2px;
    }
  }
}

.contact-information-list {
  display: none;
}

@media screen and (min-width: 768px) {
  .contact-information-list {
    display: block;
    margin-left: auto;
  }
}

@media screen and (min-width: 1200px) {
  .contact-information-list {
    display: flex;
    flex-direction: row;
    justify-content: baseline;
  }
}

@media screen and (min-width: 768px) {
  .contact-information-item {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .contact-information-item + .contact-information-item {
    margin-left: 50px;
  }
}

.contact-link {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.171;
  letter-spacing: 0.02em;
  color: var(--main-color);
  fill: currentColor;
  text-decoration: none;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

@media screen and (min-width: 1200px) {
  .contact-link {
    display: flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;

    font-size: 14px;
    line-height: 1.143;
  }
}

.link-icon {
  margin: 0 10px 0 0;
}
