.our-clients {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .our-clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.our-clients-list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

@media screen and (min-width: 768px) {
  .our-clients-list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (min-width: 1200px) {
  .our-clients-list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.our-clients-item {
  flex-basis: calc((100% - 2 * 30px) / 2);
  height: 90px;
  margin: 15px;
}

@media screen and (min-width: 768px) {
  .our-clients-item {
    flex-basis: calc((100% - 3 * 30px) / 3);
    height: 90px;
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .our-clients-item {
    flex-basis: calc((100% - 6 * 30px) / 6);
    height: 90px;
    margin: 15px;
  }
}

.our-clients-link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  height: 100%;
  width: 100%;
  border: 1px solid;
  border-radius: 4px;
  color: var(--logo-clients-color);
  fill: currentColor;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
