.our-clients {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .our-clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

@media screen and (max-width: 479px) {
  .our-clients-list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (max-width: 479px) {
  .our-clients-item {
    flex-basis: calc ((100% - 4 * 15px) / 2);
    height: 90px;
    margin: 15px;
  }
}

/*.our-clients-item {
  margin-right: 30px;
  width: 170px;
  height: 90px;

  &:last-child {
    margin-right: 0;
  }
}*/

.our-clients-link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  height: 100%;
  width: 100%;
  border: 1px solid;
  border-radius: 4px;
  color: var(--logo-clients-color);
  fill: currentColor;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
