@media screen and (max-width: 1199px) {
  .services-gallery {
    display: none;
  }
}

.services-gallery {
  padding-top: 94px;
  padding-bottom: 94px;
}

.title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.services-gallery-list {
  display: flex;
  justify-content: space-between;
}

.services-gallery-item {
  position: relative;
}

.image-description {
  position: absolute;
  margin: 0;
  padding-top: 22px;
  padding-bottom: 22px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.172;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.03em;
  width: 100%;
  background-color: rgba(47, 48, 58, 0.8);
  color: var(--main-white-color);

  bottom: 0;
  left: 0;
}
