.team {
  background-color: var(--background-white-color);
  padding-top: 94px;
  padding-bottom: 94px;
}

.team .title {
  margin-bottom: 50px;
}

.team-list {
  display: flex;
}

.team-list-item {
  width: 270px;
}

.team-list-item:not(:last-child) {
  margin-right: 30px;
}

.team-list-image {
  width: 270px;
}

.team-card {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 32px;
  padding-left: 32px;
  background-color: var(--main-white-color);
}

.team-card-wrapper {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-list-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.187;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.description {
  margin: 10px 0 16px 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.187;
  text-align: center;
  letter-spacing: 0.03em;
}
