.button-open {
  background-color: transparent;
  border: none;
  padding: 0;
  width: 40px;
  height: 40px;

  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}

@media screen and (min-width: 768px) {
  .button-open {
    display: none;
  }
}

.menu__button-close {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: transparent;
  border: none;
  padding: 0;
  width: 40px;
  height: 40px;

  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}

.mobile-menu-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 50%;
  width: 100%;
  max-width: 480px;
  height: 100%;
  padding: 40px 40px;
  background-color: var(--main-white-color);
  transform: translateX(-50%) translateY(-100%);
  transition: transform 250ms linear;
  z-index: 2;
  overflow-y: scroll;
}

.mobile-menu-container.is-open {
  transform: translateX(-50%) translateY(0%);
}

.menu__button-close {
  position: absolute;
  top: 10px;
  right: 15px;
}

.menu-navigation-list {
  display: flex;
  flex-direction: column;
  margin-top: 48px;
  margin-bottom: 302px;
}

.menu-navigation-item {
  &:not(:last-child) {
    margin-bottom: 32px;
  }
}

.menu-navigation-link {
  display: block;
  text-decoration: none;

  font-style: var(--text-font);
  font-weight: 500;
  font-size: 40px;
  line-height: 1.172;
  letter-spacing: 0.02em;
  color: var(--title-text-color);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.menu-navigation-link.current-link {
  color: var(--accent-color);
}

.menu__contact-information-link {
  display: block;
  text-decoration: none;

  font-style: var(--text-font);
  font-weight: 500;
  font-size: 34px;
  line-height: 1.176;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.menu__contact-information-link.contact-link {
  margin-top: 32px;
  margin-bottom: 64px;

  font-size: 24px;
  line-height: 1.172;
  letter-spacing: 0.02em;
}

.menu__social-networks-list {
  display: flex;
}

.menu__social-networks-item {
  &:not(:last-child) {
    margin-right: 20px;
  }
}

.menu__social-networks-link {
  position: relative;
  text-decoration: none;
  font-style: var(--text-font);
  font-size: 18px;
  line-height: 1.222;
  letter-spacing: 0.02em;
  color: var(--accent-color);

  &::after {
    content: "";
    display: block;
    position: absolute;
    right: -10px;
    bottom: 0;
    float: right;
    height: 22px;
    width: 0;
    outline: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 2px;
    background-color: rgba(33, 33, 33, 0.2);
    color: rgba(33, 33, 33, 0.2);
  }
}
