.button {
  padding: 10px 32px;
  border-radius: 4px;
  border: none;
  outline: none;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--main-white-color);
  background-color: var(--accent-color);
}

.submit-button {
  padding: 10px 28px 10px 29px;
  margin-left: 12px;
  width: 200px;
  height: 50px;
}
