.logo {
  display: inline-block;
  font-family: var(--title-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.174;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--accent-color);
}

.logo-header {
  padding-top: 16px;
  padding-bottom: 16px;
}

@media screen and (min-width: 768px) and (min-width: 1200px) {
  .logo-header {
    padding-top: 25px;
    padding-bottom: 25px;
  }
}

.logo-header-studio {
  color: var(--logo-black-color);
}

.logo-footer-studio {
  color: var(--main-white-color);
}
