.social-media-navigation {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-media-item {
  width: 44px;
  height: 44px;
  margin-right: 10px;

  &:last-child {
    margin-right: 0;
  }
}

.social-media-link {
  display: block;
  text-decoration: none;
  padding: 12px;
  width: 100%;
  height: 100%;
  border-radius: 50%;

  color: var(--logo-clients-color);
  fill: currentColor;
  cursor: pointer;

  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic);

  &:hover,
  &:focus {
    color: var(--main-white-color);
    background-color: var(--accent-color);
  }
}
