body {
  font-family: var(--text-font);
  color: var(--main-color);
  background-color: var(--main-white-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

textarea {
  resize: none;
}
