:root {
  --text-font: "Roboto", sans-serif;
  --title-font: "Raleway", sans-serif;
  --main-color: #757575;
  --main-white-color: #ffffff;
  --title-text-color: #212121;
  --logo-black-color: #000000;
  --accent-color: #2196f3;
  --background-white-color: #f5f4fa;
  --background-black-color: #2f303a;
  --background-transparent-color: rgba(255, 255, 255, 0.6);
  --logo-clients-color: #afb1b8;
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
}
